body 
{
    color:blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size
}
   

#wrapper 
{
        width: 1100px;

}

#banner
{
}

#navigation
{
}

#nav
{
}

#content
{
}



