body 
{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color:blanchedalmond;
}
   

#wrapper 
{
    width:1100px;
    margin:auto;
    padding-bottom:20px;
    background-color:antiquewhite;
    height: 316px;
}

#banner
{

}

#navigation
{
    height:69px;
    }

#nav
{
    display:block;
    list-style:none;
    text-align:center;
    color:black;
}

#nav ul
{
    display:none;
    list-style:none;
   
}

#nav li
{
    float:left;
    display:block;
    margin-top:15px;
    text-transform:uppercase;
    padding:0px 20px 0px 20px;
    border-left:1px solid #808080;
    width: 169px;
    height: 21px;
   
   
}

#nav a:link, #nav a:visited, #nav a:active
{
    display:block;
    color:indianred;
    text-decoration:none;
}

#nav a:hover
{
    background-color:yellow;
}

#content
{
    padding:20px;
    min-height:400px;
}

#footer
{
    clear: both;
    padding: 10px 0;
    border-top: 2px black dotted;
    position:fixed;
}

#footer p 
{
    text-align: center;
    font-size: 14px;
    color: black;
    font-weight: bold;

}




